* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
h1 {font-size: 13pt;}
p, #formUser label {font-size: 1.25rem;}
.w-100 {width: 100% !important;}
.msg {margin-top: 5%;}

/*.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}*/

.sent_msg {
    float: right;
    width: 51%;
}
.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.received_withd_msg { width: 57%;}

.container {
    margin-top: 10px;
}
.nav-tabs > a {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > a > span {
    cursor:pointer;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}

.upload-options {
    position: relative;
    background-color: #007bff;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    -webkit-transition: background-color ease-in-out 150ms;
    transition: background-color ease-in-out 150ms;
}

.upload-options:hover{
    background-color: #7fb1b3;
}

.upload-options label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 64px;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}

.upload-options label::after {
    content: 'add_photo_alternate';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    color: #e6e6e6;
    left: calc(50% - 1.25rem);
    z-index: 0;
}

.upload-options label.without-img::after {
    content: none;
}

.upload-options input {
    z-index: -1;
}

div.upload-options {
    color: #fff;
}